.ttt-grid .button{
    /* maximise items (in cell) */
    -fx-max-width: Infinity;
    -fx-max-height: Infinity;
    /* font settings */
    -fx-font-size: 1.7em;
    -fx-font-weight: bold;
    /* border settings*/
    -fx-border-width: 0;
    -fx-border-color: solid;
    -fx-border-color: black;
    -fx-background-color: #fff;
}

.ttt-grid .button:hover {
    -fx-background-color: #73d45c;
}

.ttt-grid .button:disabled {
    -fx-opacity: 1;
}

.ttt-grid .PlayerA:disabled {
    -fx-background-image: url("/fhj/swengb/assignments/ttt/cross.png");
    -fx-background-size: 65% 65%;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}


.ttt-grid .PlayerB:disabled {
    -fx-background-image: url("/fhj/swengb/assignments/ttt/circle.png");
    -fx-background-size: 65% 65%;
    -fx-background-repeat: no-repeat, no-repeat;
    -fx-background-position: center;
    -fx-opacity: 1;
}

.ttt-grid .A_winning_move:disabled {
    -fx-background-color: #0ae657;
}


.ttt-grid .B_winning_move:disabled {
    -fx-background-color: #ff7b7b;
}

.ttt-grid .draw:disabled {
    -fx-background-color: #ffff9b;
}



#btn-topleft {
    -fx-border-width: 0 2 2 0; /* top right bottom left*/
}
#btn-topcenter {
    -fx-border-width: 0 2 2 2; /* top right bottom left*/
}
#btn-topright {
    -fx-border-width: 0 0 2 2; /* top right bottom left*/
}

#btn-middleleft {
    -fx-border-width: 2 2 2 0; /* top right bottom left*/
}
#btn-middlecenter {
    -fx-border-width: 2 2 2 2; /* top right bottom left*/
}
#btn-middleright {
    -fx-border-width: 2 0 2 2; /* top right bottom left*/
}

#btn-bottomleft {
    -fx-border-width: 2 2 0 0; /* top right bottom left*/
}
#btn-bottomcenter {
    -fx-border-width: 2 2 0 2; /* top right bottom left*/
}
#btn-bottomright {
    -fx-border-width: 2 0 0 2; /* top right bottom left*/
}